[Unit]
Description=script_test_timer
Wants=myMonitor.timer

[Service]
Type=oneshot
ExecStart=/home/popkovmk/script.sh

[Install]
WantedBy=multi-user.target
